[submodule "extlib"]
	path = extlib
	url = login1-raven2:flow/extlib
[submodule "lib/Conf"]
	path = lib/Conf
	url = login1-raven2:flow/lib/Conf
[submodule "lib/DBase"]
	path = lib/DBase
	url = login1-raven2:flow/lib/DBase
[submodule "lib/Doc"]
	path = lib/Doc
	url = login1-raven2:flow/lib/Doc
[submodule "lib/Engine"]
	path = lib/Engine
	url = login1-raven2:flow/lib/Engine
[submodule "lib/Exchange"]
	path = lib/Exchange
	url = login1-raven2:flow/lib/Exchange
[submodule "lib/File"]
	path = lib/File
	url = login1-raven2:flow/lib/File
[submodule "lib/Ops"]
	path = lib/Ops
	url = login1-raven2:flow/lib/Ops
[submodule "lib/Package"]
	path = lib/Package
	url = login1-raven2:flow/lib/Package
[submodule "lib/Table"]
	path = lib/Table
	url = login1-raven2:flow/lib/Table
[submodule "lib/Test"]
	path = lib/Test
	url = login1-raven2:flow/lib/Test
[submodule "lib/Util"]
	path = lib/Util
	url = login1-raven2:flow/lib/Util
[submodule "lib/Virtual"]
	path = lib/Virtual
	url = login1-raven2:flow/lib/Virtual
[submodule "lib/Web"]
	path = lib/Web
	url = login1-raven2:flow/lib/Web
